<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagename %}Default Title{% endblock %}</title>
</head>
<body>
    <h1>Главная</h1>
    <nav>
        <ul>
            {% block menu %}
            <li><a href="/platform/">Главная</a></li>
            <li><a href="/platform/games/">Магазин</a></li>
            <li><a href="/platform/cart/">Корзина</a></li>
            {% endblock %}
        </ul>
    </nav>
    <div id="content">
        {% block content %}
        <!-- Default Content -->
        {% endblock %}
    </div>
</body>
</html>
